[submodule "targets/tofino/test/programs/research/switcharoo"]
	path = targets/tofino/test/programs/research/switcharoo
	url = https://github.com/Switcharoo-P4/Switcharoo-P4
[submodule "targets/tofino/test/programs/research/scion"]
	path = targets/tofino/test/programs/research/scion
	url = https://github.com/netsys-lab/scion-p4
[submodule "targets/tofino/test/programs/research/p4sta"]
	path = targets/tofino/test/programs/research/p4sta
	url = https://github.com/ralfkundel/P4STA/
[submodule "targets/tofino/test/programs/research/p4_projects"]
	path = targets/tofino/test/programs/research/p4_projects
	url = https://github.com/Princeton-Cabernet/p4-projects
[submodule "targets/tofino/test/programs/research/p4_hh"]
	path = targets/tofino/test/programs/research/p4_hh
	url = https://github.com/intrig-unicamp/P4-HH
[submodule "targets/tofino/test/programs/research/flowrest"]
	path = targets/tofino/test/programs/research/flowrest
	url = https://github.com/nds-group/Flowrest
[submodule "targets/tofino/test/programs/research/dta"]
	path = targets/tofino/test/programs/research/dta
	url = https://github.com/jonlanglet/DTA
[submodule "targets/tofino/test/programs/research/beaucoup"]
	path = targets/tofino/test/programs/research/beaucoup
	url = https://github.com/Princeton-Cabernet/BeauCoup
[submodule "targets/tofino/test/programs/research/acc_turbo"]
	path = targets/tofino/test/programs/research/acc_turbo
	url = https://github.com/nsg-ethz/ACC-Turbo
